<style>
/* GLOBAL STYLES 
-----------------*/
	*{
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.clearfix:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
				}
			* html .clearfix             { zoom: 1; } /* IE6 */
			*:first-child+html .clearfix { zoom: 1; } /* IE7 */
	body{
		margin: 0;
		padding: 0;
		font-family:  'Open Sans Condensed', sans-serif;
		color: #555;
		font-size: 20px;
		text-align: center;
		line-height: 25px;
		
		}

		h2,h3{
			text-transform: uppercase;
			letter-spacing: 5px;
			}
		
		/*.homelink a{
			color: #e74c3c;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 5px;
			clear: both;
		}
		.homelink a:hover{
			color: black;
		}*/


/* HEADER 
----------*/
		.home{
			background: url(i/crossword.png);
			max-width: 100%;
			margin: 0;
			padding: 15% 0 15% 0;
			box-shadow: 0 0 3px rgba(0,0,0,.22);
		}
			h1{
				font-family: 'Bitter', serif;
				letter-spacing: 15px;
				font-size: 65px;
				color: #e74c3c;
				text-shadow: 3px 3px 0px #ddd; 
				text-transform: uppercase;
			}

			.home h2{
			 	letter-spacing: 2px;
			 	font-size: 30px;
			 	margin: 0;
			 	padding: 5%;
			 }

/* NAVIGATION 
--------------*/
	ul{
		background: #bbb;
		padding: 1%;
		list-style-type: none;
		margin-top: 0;
		margin: 0 auto;
		box-shadow: 0 0 1em rgba(0,0,0,.15);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		opacity: .8;
		
	}

	ul li{
		display: inline;
		list-style-type: none;
		padding: 1%;
		margin-right: 3%;
		-webkit-transition: background .5s;
	}

	ul li a{
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}

	ul li:hover{
		background: #e74c3c;
		
	}

	
/* ABOUT SECTION 
-----------------*/

	.about {
		max-width: 100%;
		margin: 0;
		padding:5%;
		box-shadow: 0 3px 3px rgba(0,0,0,.25)
		
	}
		.about h2{
			padding-bottom: 5%;
		}

		.aboutwidget{
			float: left;
			padding: 2px;
			max-width: 32%;
			margin-bottom: 5%;
		}
		.aboutwidget p{
			padding: 0 5% 0 5%;
		}

		.glamourshot img{
			float: right;
			max-width: 32%;
			border-radius: 50%;
			box-shadow: 3px 3px 0px #ddd;
			margin-bottom: 2%;
			margin-left: 5%;
		}
		.glamourshot p{
			float: left;
			max-width: 50%;
			margin-top: 5%;
			margin-left: 5%;
			font-size: 25px;
			line-height: 35px;
			padding-bottom: 2%;
			padding-right: 5%;
		}
		.glamourshot a{
			color: #e74c3c;
			font-size: 30px;
			text-decoration: none;
			-webkit-transition: font-size .5s;
		}
		.glamourshot a:hover{
			color: black;
			font-size: 34px
		}

/* WORK SECTION 
--------------------*/
	.work{
		max-width: 100%;
		margin: 0;
		padding-top: 5%;
		background: #ddd;
		box-shadow: 0 3px 3px rgba(0,0,0,.25)
	}
		.work h2{
			padding-bottom: 2%;
		}

		.portfolio{
			float: left;
			padding: 1%;
			max-width: 30%;
			padding-bottom: 5%;
		}
		.portfolio img{
			max-width: 90%;
			max-height: 200px;
			box-shadow: 0 3px 3px rgba(0,0,0,.25)
		}
		.portfolio img:hover{
			box-shadow: 5px 5px 5px rgba(0,0,0,.25)
		}
		.portfolio a{
			text-decoration: none;
		}

/* BLOG SECTION
--------------------*/
	/*.blog{
		max-width: 100%;
		padding: 5% 0 5% 0;
		margin: 0;
		box-shadow: 0 3px 3px rgba(0,0,0,.25)
	}
	.blog img{
		max-width: 50%;
		padding: 5%;
	}*/


/* CONTACT SECTION
--------------------*/
	.contact{
		max-width: 100%;
		padding: 5% 0 5% 0;
		background: url(i/crossword.png);
		box-shadow: 0 3px 3px rgba(0,0,0,.25)

	}	
		.contact img{
			max-height: 7%;
			border-radius: 50%;
			box-shadow: 3px 3px 0px #ddd;
			margin: 2%;
		}
		.contact img:hover{
			box-shadow: 3px 3px 0px #ee8478;	
		}

/* FOOTER SECTION
--------------------*/
footer{
	padding: 2% 0 2% 0;
	background: #ddd
}

/* Portrait tablet and small desktops */
			@media (max-width: 940px) {
				h1{
					line-height: 55px;
				}
				.glamourshot img{
					margin-top: 5%;
				}
			}
			 
			/* Landscape phone to portrait tablet */
			@media (max-width: 767px) {
			
				p{
					font-size: 22px
				}
			 
				.aboutwidget, .portfolio{
					float: none;
					max-width: 80%;
					margin-left: 10%;
				}
			}

			/* Landscape phones and down */
			@media (max-width: 480px) {
				h1{
					font-size: 40px;
				}
				
				ul{
					position: static;
				}

				ul li{
					display: block;
					padding: 1%;
					font-size: 25px;
					
				}
				.glamourshot img{
					float: none;
					max-width: 80%;
					border-radius: 5px;
				}
				.glamourshot p{
					float: none;
					max-width: 90%;
					text-align: left;
				}
				
			}

</style>